*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.carrito1{
    /* margin: 10px 10px 100px;
    padding: 10px 7px 15px; */
    border: 1px solid rgb(121, 119, 119);
}


.contenido{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    width: auto;
    align-items: center;
}

.card-title{
    font-size: 15px;
    padding-right: 10px;
    padding-left: 20px;
}

.card-text{
    padding-right: 10px;

}
.cantidad-producto{
   display: flex;
   justify-content: stretch;
    margin-right: 15px;
    margin-top: 40px;
}

.cantidad{
    border: 1.4px solid rgb(121, 119, 119);
    padding: 0 10px 0 30px;
}

.incremento{
    padding-left: 10px;
    border: 1.4px solid rgb(121, 119, 119);
    padding: 0 10px 0 10px;
}

.icon{
    padding-right:10px;
    padding-left: 7px;
    padding-bottom: 17px;
    margin-top: 45px;

}


.table img{
    width: 90%;
    height: 100px;
}

.table th:first-child{
    padding-right: 0;
    width: 110px;
}

.table input{
    width: 30px;
}

.remove{
    display: none;
}

.icon-compras{
   font-size: 90px;
   text-align: center;
   margin-top: 0;
   padding-top: 0;
}

.icon-borrar{
    font-size: 20px;
}

.alert{
    z-index: 100;
}

.hide{
    margin: 0;
    padding: 0;
}

