* {
  padding: 0;
  margin: 0;
}

h2 {
  padding-top: 20px ;
  text-align: center;
}

.gallery img {
  padding: 20px;
}

.item {
  transition: 0.5s ease-in-out;
}
.item:hover {
  filter: drop-shadow(0 0 0.75rem rgb(33, 37, 41));
  transform: scale(1.1);
}
