.card-body {
  padding: 0.01rem;
  position: relative;
}
.img1{
    position: relative;
    right: -3%;
    bottom: -7%;
    width: 94%;
    height: 85%;
}
.img2{
    position: relative;
    right: -3%;
    bottom: -5%;
    width: 94%; /*Tamaño de imagen responsive*/
    height: 85%;
}

h5{
    font-size:x-large;
    color: darkblue;
}
p{
    /* font-size:larger; */
    font-size:large;
    margin-left: 3vw; /*posición (espacio) imagen izquierda*/
    margin-right: 3vw; /*posición (espacio) imagen derecha*/
}

