.card-body{
    align-items: center;
}
#img{
    position: relative;
    padding-top: 5%;
    right: -8%;
    align-items: center;
    height: 85%;
    width: 85%;
}
.card-body iframe{
    position: relative;
    right: -5%;
    height: 90%;
    width: 90%;
}